<div class="jumbotron mt-5">
  <h1 class="display-4"><strong>{{ui.error_header}}</strong></h1>
  <p class="lead"><i class="fas fa-exclamation-circle display-1"></i></p>
  <hr class="my-4">
  <p><strong>{{ui.error_description}}</strong></p>
  <p class="mt-4">{{ui.error_reminder}}</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">{{ui.error_redirector}}</a>
</div>