<div class="jumbotron mt-3 mb-0">
  <h2><strong>{{ui.error_header}}</strong></h2>
  <p class="lead"><i class="fas fa-exclamation-circle display-4"></i></p>
  <hr class="my-4">
  <p><strong>{{ui.error_description}}</strong></p>
  <p class="mt-5">{{ui.error_reminder}}</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">{{ui.error_redirector}}</a>
</div>