<div class="jumbotron mb-0 bg-transparent">
  <p><strong>{{ui.error_description}}</strong></p>
  <hr>
  <p class="mt-5">{{ui.error_reminder}}</p>
  <a class="btn btn-primary btn-lg shadow-sm" href="/" role="button">{{ui.error_redirector}}</a>
</div>