<div class="mt-5 mb-3">
  {{#if shortUrlKey}}
    <h3 id="shortUrl" class="w-75 overflow-auto mx-auto">{{domain}}{{shortUrlKey}}</h3>
  {{/if}}

  <form action="/" method="POST">
    <div class="form-group">
      <label for="originalUrl"></label>
      <input type="url" class="form-control w-75 mx-auto" id="originalUrl" name="originalUrl" aria-describedby="urlHelp"
        placeholder="Enter a URL to make short" value="{{originalUrl}}">
    </div>

    <button type="submit" class="btn btn-primary">Get Short URL</button>
  </form>
</div>