<div class="mt-5">
  <input type="text" id="shortUrl">

  <form action="/" method="POST">
    <div class="form-group">
      <label for="originalUrl"></label>
      <input type="email" class="form-control w-75 mx-auto" id="originalUrl" aria-describedby="urlHelp"
        placeholder="Enter a URL to make short">
    </div>

    <button type="submit" class="btn btn-primary">Get Short URL</button>
  </form>
</div>