*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right ,#03dbfc, #adeca4);
  font-family: 'Baloo Chettan 2', Arial, Helvetica, sans-serif;
}

nav {
  background-image: linear-gradient(to left ,#03dbfc, #adeca4);
}

select, .alert, .original-url, .short-url {
  font-weight: bold;
  border-width: 0px;
}

.copy-btn {
  width: 90px;
}

.short-url {
  line-height: 1.2;
}

#frame {
  background-color: transparent;
  min-width: 500px;
}