body {
  background-image: linear-gradient(to right ,#03dbfc, #adeca4);
  font-family: 'Baloo Chettan 2', Arial, Helvetica, sans-serif;
}

nav {
  background-image: linear-gradient(to left ,#03dbfc, #adeca4);
}

button, select, .alert, #originalUrl, #shortUrl {
  border-radius: 10px;
  font-weight: bold;
  border-width: 0px;
}

.alert, #originalUrl {
  max-width: 500px;
}

#frame {
  background-color: transparent;
}